<footer>
    <nav id="column">
        <div>
            <p id="column-headers">Gitarex<p>
            <ul id="ul-reset">
                <li id="item-single">O nas</li>
                <li id="item-single">Regulamin</li>
                <li id="item-single">Polityka prywatności</li>
                <li id="item-single">Polityka cookies</li>
                <li id="item-single">Regulamin newslettera</li>
                <li id="item-single">Kariera</li>
            </ul>
        </div>
        <div>
            <p id="column-headers">Zamówienia<p>
            <ul id="ul-reset">
                <li id="item-single">Dostawa</li>
                <li id="item-single">Raty</li>
                <li id="item-single">Zakupy dla firm</li>
                <li id="item-single">Zwroty i reklamacje</li>
            </ul>
        </div>
        <div>
            <p id="column-headers">Blog<p>
            <ul id="ul-reset">
                <li id="item-single">Ostatnie wpisy</li>
                <li id="item-single">Najczęściej zadawane pytania</li>
                <li id="item-single">Baza wiedzy</li>
            </ul>
        </div>
        <div>
            <p id="column-headers" (click)="navigateToContact()">Kontakt<p>
            <ul id="ul-reset">
                <li id="item-single">E-mail:</li>
                <li id="item-single">&nbsp;<a href="mailto:kontakt@gitarex.pl"><b>kontakt&#64;gitarex.pl</b></a></li>
                <li id="item-single">Numer telefonu:</li>
                <li id="item-single">&nbsp;<b>444555666</b></li>
                <li id="item-single">Godziny otwarcia:</li>
                <li id="item-single">&nbsp;<b>Pon. - Pt.</b></li>
                <li id="item-single">&nbsp;<b>08:00 - 22:00</b></li>
            </ul>
        </div>
    </nav>
    <div id="copyright">
        © Gitarex 2019 - 2024 <br>
        <a href="https://www.flaticon.com/free-icons/basket" title="basket icons">Basket icons created by Digby Garrett - Flaticon</a>&nbsp;
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
    </div>
</footer>