<footer>
    <nav id="column">
        <div>
            <p id="column-headers">Gitarex<p>
            <ul id="ul-reset">
                <li id="item-single">O nas</li>
                <li id="item-single">Regulamin</li>
                <li id="item-single">Polityka Prywatności</li>
                <li id="item-single">Polityka Cookies</li>
                <li id="item-single">Regulamin Newslettera</li>
                <li id="item-single">Kariera</li>
            </ul>
        </div>
        <div>
            <p id="column-headers">Zamówienia<p>
            <ul id="ul-reset">
                <li id="item-single">Dostawa</li>
                <li id="item-single">Raty</li>
                <li id="item-single">Zakupy dla firm</li>
                <li id="item-single">Zwroty i reklamacje</li>
            </ul>
        </div>
        <div>
            <p id="column-headers">Blog<p>
            <ul id="ul-reset">
                <li id="item-single">Ostatnie Wpisy</li>
                <li id="item-single">Najczęściej zadawane pytania</li>
                <li id="item-single">Baza wiedzy</li>
            </ul>
        </div>
        <div>
            <p id="column-headers">Kontakt<p>
            <ul id="ul-reset">
                <li id="item-single">E-mail</li>
                <li id="item-single">    <a href="mailto:kontakt@gitarex.pl"><b>kontakt&#64;gitarex.pl</b></a></li>
                <li id="item-single">Numer Telefonu</li>
                <li id="item-single">    <b>444555666</b></li>
                <li id="item-single">Godziny Otwarcia</li>
                <li id="item-single">   <b>Pon. - Pt.</b></li>
                <li id="item-single">   <b>08:00 - 22:00</b></li>
            </ul>
        </div>
    </nav>
    <div id="copyright">
        © Gitarex 2019 - 2024
    </div>
</footer>