<nav class="navbar">
    <div class="navbar-main">
        <h1>Gitarex</h1>
        <input type="text" placeholder="Wyszukaj towary...">
        <div class="account-icon">
            <img src="../../assets/navbar/user.png" alt="User Icon">
        </div>
        <div class="cart-icon">
            <img src="../../assets/navbar/cart.png" alt="Cart Icon">
        </div>
    </div>
    <div class="navbar-categories">
        <ul>
            <li>Pokaż Wszystkie Kategorie</li>
            <li>Gitary</li>
            <li>Mikrofony</li>
            <li>Kable</li>
            <li>Basy</li>
            <li>Oprogramowanie</li>
            <li>Efekty</li>
            <li>Perkusje</li>
        </ul>
    </div>
</nav>