<div class="container">
    <header>
        <h1>Guitar Blog Post #1</h1>
        <p>Exploring the world of guitars and their impact on music.</p>
    </header>
    <hr>
    <section>
        <h2>The History of Guitars</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc felis, porta accumsan magna a, feugiat
            pretium magna. Duis vel lectus et sem blandit lobortis. Nunc id mauris ultricies, pellentesque enim eget,
            mattis odio. Proin dapibus nisi a erat tincidunt elementum id a orci. Praesent eu augue eros. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In consectetur mi at orci
            semper volutpat vitae vitae dolor. Sed id ultricies turpis. Cras eu lobortis purus, sed dapibus nunc. Sed
            odio tortor, dictum nec dolor ac, pharetra varius nisl. Morbi sagittis erat vitae pretium rutrum. Praesent
            pharetra laoreet elit vestibulum viverra. Suspendisse id nunc vitae sem fringilla imperdiet. Aenean ut
            tempus ligula. Nullam id faucibus sem.
        </p>
        <figure>
            <figcaption>A collection of vintage guitars.</figcaption>
            <img [src]="greyGuitar.path" alt="{{ greyGuitar.name }}">
        </figure>
    </section>

    <section>
        <h2>Types of Guitars</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque arcu, iaculis at aliquam non, laoreet et
            dolor. Quisque vitae arcu ut orci convallis faucibus vel vehicula tellus. Vestibulum sit amet tincidunt mi,
            in feugiat turpis. Nunc a libero leo. Cras sit amet condimentum nisi. Fusce suscipit faucibus tellus, vel
            venenatis nisl ultricies sit amet. Pellentesque hendrerit sit amet libero nec tempor. Proin in aliquam dui.
            Maecenas egestas ac velit sed tincidunt. Integer vitae viverra arcu. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Duis at est libero. Donec rutrum est in nisi
            interdum, at hendrerit neque condimentum. In est nisl, suscipit et tristique sed, aliquam ac ipsum.

            Aliquam molestie tempus sem vitae gravida. Pellentesque eget risus eros. Maecenas vestibulum condimentum
            faucibus. Integer eu libero interdum, ultrices velit in, sagittis magna. Integer at orci sed lacus accumsan
            scelerisque. Nunc lacinia magna et risus auctor, eget accumsan nibh elementum. Etiam vel condimentum lorem.
            Morbi mollis augue finibus, commodo ipsum non, posuere dui. Aliquam id dictum diam, sit amet gravida quam.
            Donec mattis id mi nec euismod. In justo est, efficitur eget augue eget, elementum ultricies mauris. Nunc
            posuere risus nibh, vel interdum dui semper ac.
        </p>
        <figure>
            <figcaption>Types of Guitars</figcaption>
            <img [src]="woodenGuitar.path" alt="{{ woodenGuitar.name }}">
        </figure>
    </section>

    <section>
        <h2>Mastering the Ukulele</h2>
        <p>
            Ut malesuada venenatis quam. Integer eu augue at nibh elementum aliquam. Nullam vestibulum id urna eget
            varius. Praesent dictum id sem at accumsan. Sed accumsan maximus vehicula. Morbi rhoncus augue orci. Cras
            nec congue mi. Nam id ligula euismod, ornare erat sit amet, dapibus massa. Maecenas aliquet ligula non ipsum
            sollicitudin, non sollicitudin risus ultricies. Vestibulum iaculis ipsum auctor eros varius dapibus.
        </p>
        <figure>
            <figcaption>This can be your ukulele!</figcaption>
            <img [src]="ukulele.path" alt="{{ ukulele.name }}">
        </figure>
    </section>
</div>