<div class="product-container" *ngIf="product.name">
  <div class="product-image">
    <img [src]="product.image" alt="{{ product.name }}">
  </div>
  <div class="product-details">
    <h1>{{ product.name }}</h1>
    <div class="rating">
      <span *ngFor="let star of [].constructor(5); let i = index" [class.filled]="i < product.rating">&#9733;</span>
      <span>({{ product.reviews }} Opinie)</span>
    </div>
    <ul class="product-info">
      <li *ngFor="let info of product.info">{{ info }}</li>
    </ul>
    <div class="price">
      <span class="current-price">{{ product.price | currency:'PLN' }}</span>
      <span class="old-price">{{ product.oldPrice | currency:'PLN' }}</span>
    </div>
    <div class="purchase">
      <input type="number" [(ngModel)]="quantity" min="1">
      <button (click)="addToCart()">Dodaj do Koszyka</button>
    </div>
  </div>
</div>
<div class="product-description-container" *ngIf="product.description">
  <div class="product-description">
    <h3>{{ product.description }}</h3>
    <p><strong>Cechy:</strong></p>
    <p *ngFor="let feature of product.features">{{ feature }}</p>
  </div>
</div>
<div *ngIf="!product.name">
  Ładowanie danych produktu...
</div>
